* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
#name {
  font-family: 'Tangerine', cursive;
}
.gradient
{
    height:auto;
    width:auto;
    background: linear-gradient(0deg,#0bce1bc2, #fff, #3080e8);
    background-size: 200% 200%;

    -webkit-animation: Animation 4s ease;
    -moz-animation: Animation 4s ease;
    animation: Animation 4s ease;
}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
