* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
#name {
  font-family: 'Bree Serif', serif;
  color: #3080e8;
}
.gradient
{
  height:auto;
  width:auto;
  background: linear-gradient(0deg,#3080e898, #fff, #3f83db60);
  background-size: 200% 200%;

  -webkit-animation: Animation 4s ease;
  -moz-animation: Animation 4s ease;
  animation: Animation 4s ease;
}
.underline-hover {
  display: inline-block;
  padding-bottom: 0.3rem;
  position: relative;
}

.underline-hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.25s ease-out;
}
.underline-hover:hover::before {
  width: 100%;
  background: #e4e7eb;
}